<!-- <p>profile-card works!</p> -->
<!-- <tr *ngIf="!editing; else form">
    <td>{{this.profile.profilePicture}}</td>
    <td>{{this.profile.name}}</td>
    <td>{{this.profile.email}}</td>
    <td>{{this.profile.phone}}</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>
</tr> -->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <tr>
        <td><input type='text' formControlName="profilePicture"></td>
        <td><input type="text" formControlName="name"></td>
        <td><input type="text" formControlName="email"></td>
        <td><input type="text" formControlName="phone"></td>
        <td><button *ngIf="!editing" (click)="onEdit($event)">Edit</button></td>
        <td><button (click)="onDelete($event)">Delete</button></td>
        <td><button *ngIf="editing" type="submit">Save</button></td>
    </tr>
</form>  

